@font-face {
    /* https://www.1001fonts.com/bebas-neue-font.html */
    font-family: bebas-nueue;
    src: url(../fonts/bebas-neue.regular.otf);
}

* {
    box-sizing: border-box;
  }

body {
    /* https://imagecolorpicker.com/color-code/8878c3 */
    /* https://imagecolorpicker.com/color-code/fbebeb */
    /* https://webflow.com/blog/web-design-portfolios */

    /* Purple is tiring to look at */
    /* Consider yellow-black theme */
    height: 100%;
    background-color: #fff;
    font-family: "Bebas Nueue Regular", bebas-nueue;
    font-size: 16px;
    color: black;
    overflow: auto;
}

.footer {
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: smaller;
    z-index: 0;
}

.footer p {
    margin: 0px;
}

.content {
}

/* START TOP PANEL */

.top-panel {
    display: block;
    position: absolute;
    background-color: #fff;
    height: 47px;
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    border-bottom: 3px black solid;
    z-index: 1;
}   

.top-header {
    text-align: center;
    font-size: xx-large;
    margin: 5px;
}

/* END TOP PANEL */

/* START PRODUCT SHELF */

.product-shelf {
    position: relative;     
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    height: auto;
    z-index: 1;
    margin-top: 0px;
    padding-left: 60px;
    padding-right: 60px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 6px;
}

.row {
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 700px) {
    .column {
      width: 100%;
    }
}


/* END PRODUCT SHELF */

/* START BILLBOARD */

.billboard-image img {
    background-color: #fff;
    height: 442px;
    width: 100%;
    margin-top: 39px;
    object-fit: none;
    background-repeat: no-repeat;
    border: none;
}

@media screen and (max-height: 480px) {
    .billboard-image {
        display: none;
    }
    .product-shelf {
        margin-top: 50px;
    }
}

/* End BILLBOARD */

/* START PRODUCT LAYOUT */

.product-layout {
    display: block;
    height: auto;
    margin: auto;
    border: 1px black solid;
    transition: all .2s ease-in-out;
    background-color: #fff;
    text-align: center;
}

.product-layout:hover {
    transform: scale(1.04);
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image img, a {
    display: block;
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.product-details {
    padding: 2px;
    padding-left: 5px;
    border-top: 1px black solid;
    overflow-wrap: break-word;
}

.product-name {
    font-size: larger;
}

.product-description {
    font-size: regular;
}

.product-cost {
}

/* Start Modal Panel */

.modal-panel {
    width:  45%;
    min-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    background-color: #fff;
    border-left: 3px #000 solid;
    margin: auto;
    z-index: 2;
}

.modal-exit {
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px;
}

.modal-layout {
    margin: 40px;
}

.selected-product{
    display: block;
    width: 100%;
    height: 100px;
}

.selected-product-image {
    float: left;
}

.selected-product-details { 
    margin-left: 100px;
    padding: 10px;
}

.selected-product-details .product-name { 
    margin: 0px;
}

.checkout-details {
    margin-top: 50px;
} 

.checkout-details p {
    line-height: 0px;
}

.shade {
    backdrop-filter: blur(5px);
}

/* End Modal Panel */