body {
    background: #292929;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: black;
}

.background {
    background-image: url(https://www.hdwallpapers.in/download/beautiful_lake_landscape_scenery_4k_8k-1920x1080.jpg);
    background-size: cover;
    height: 100%;
}

.login-panel {
    width: 580px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    margin: auto;
}

.login-layout {
    padding: 40px 56px;
}

@media screen and (min-width: 1280px){
    .login-panel {
        width: 580px;
    }
}

@media screen and (min-width: 510px){
    .login-panel {
        width: 580px;
        margin: auto;
    }
}

/* Mostly yoinked from adobe login*/
@media screen and (max-width: 650px) {
    .login-panel {
        height: 100%;
        width: 100%;
    }
}

.login-layout .link,
.link:visited,
.link:hover,
.link:active {
    color: rgba(0, 81, 255, 255);
    margin-top: 12px;
    text-decoration: none;
    white-space: nowrap;
}

.login-head {
    display: block;
}

.field-label {
    display: block;
}

/* from github login */
/* High contrast colours */
.text-field {
    background-color: rgba(0, 0, 0, 0);
    border-color: #eaeaea;
    width: 90%;
    height: 18px;
    border: none;
    border-bottom: 2px;
    border-bottom-color: rgb(153, 153, 153);
    border-bottom-style: solid;
    font-size: 16px;
    margin-bottom: 12px;
    outline: none;
}

.text-field:focus {
    border-bottom: 2px rgb(0, 81, 255) solid !important;
}

@keyframes border-transition {
    from {border-bottom-color: rgb(153, 153, 153);}
    to {border-bottom-color: #e34850;}
}

.submit-button {
    display: block;
    height: auto;
    width: 100%;
    background-color: #fff;
    border-width: 1px;
    border-radius: 4px;
    padding: 6px;
}

.submit-button:active {
    background-color: rgba(41, 41, 41, 0.1);
}

.back-tooltip {
    display: none;
}

.return-button {
    float: left;
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 8px;
    background-color: #eaeaea;
    border: 1px black solid;
    border-radius: 60px;
    text-align: center;
    text-rendering: auto;
    font-size: 30px;
}

.error-class {
    float: right;
    position: absolute;
    padding-left: 15px;
    width: 18px;
}

/* https://www.toptal.com/front-end/svg-animation-guide */
.error-cross1,
.error-cross2 {
    position: relative;
    stroke: #e34850;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    fill: none;
    stroke-width: 3px;
    animation-name: error-slash;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes error-slash {
    from {stroke-dashoffset: 100%;}
    to {stroke-dashoffset: 0%;}
}

.invalid-email {
    border-bottom-color: #e34850;
    margin-bottom: 5px;
    animation-name: border-transition;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}