body {
    background: #292929;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: black;
    margin: 0px;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    /* background-image: url(https://drive.google.com/uc?export=view&id=13YUWJbsAHHrGLyB8nhrexydf6D-3_5se); */
    background-image: url(https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-attachment: fixed;
    animation: darken 1.6s 1s ease-in forwards;
}

@keyframes blur {
    from {filter: blur(0px);}
    to {filter: blur(3px);}
}

@keyframes darken {
    from {filter: brightness(100%);}
    to {filter: brightness(70%);}
}

.login-panel {
    width: 580px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    background-color: #fff;
    margin: auto;
}

@keyframes shift {
    from {transform: translateX(0px);}
    to {transform: translateX(-580px);}
}

.login-layout {
    padding: 40px 56px;
    filter: opacity(100%);
}

@media screen and (min-width: 1280px){
    .login-panel {
        width: 580px;
    }
}

@media screen and (min-width: 510px){
    .login-panel {
        width: 580px;
        margin: auto;
    }
}

/* Mostly yoinked from adobe login*/
@media screen and (max-width: 650px) {
    .login-panel {
        height: 100%;
        width: 100%;
        filter: opacity(50%);
    }
}

.login-layout .link,
.link:visited,
.link:hover,
.link:active {
    color: rgba(0, 81, 255, 255);
    margin-top: 12px;
    text-decoration: none;
    white-space: nowrap;
}

.login-head {
    display: block;
}

.field-label {
    display: block;
}

/* from github login */
/* High contrast colours */
.text-field {
    background-color: rgba(0, 0, 0, 0);
    border-color: #eaeaea;
    width: 90%;
    height: 18px;
    border: none;
    border-bottom: 2px;
    border-bottom-color: rgb(153, 153, 153);
    border-bottom-style: solid;
    font-size: 16px;
    margin-bottom: 14px;
    outline: none;
}

.text-field:focus {
    border-bottom: 2px rgb(0, 81, 255) solid !important;
}

.pass-list {
    margin-top: 12px;
    margin-bottom: 12px;
}

.pass-list li {
    color: #e34850;
    font-size:medium;
}
.correct{
    color: rgb(143, 211, 40) !important;
    font-size:medium;
}

.hidden {
    display: none;
}

.submit-button {
    display: block;
    height: auto;
    width: 100%;
    background-color: #fff;
    border-width: 1px;
    margin-top: 12px;
    border-radius: 4px;
    padding: 6px;
}

.submit-button:active {
    background-color: rgba(41, 41, 41, 0.1);
}

.back-tooltip {
    display: none;
}

/* Redundant. */
.return-button {
    float: left;
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 8px;
    background-color: #eaeaea;
    border: 1px black solid;
    border-radius: 60px;
    text-align: center;
    text-rendering: auto;
    font-size: 30px;
}

.error-class,
.valid-class {
    float: right;
    position: absolute;
    padding-left: 15px;
    width: 18px;
}

/* https://www.toptal.com/front-end/svg-animation-guide */
.error-cross1,
.error-cross2 {
    position: relative;
    stroke: #e34850;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    fill: none;
    stroke-width: 3px;
    animation-name: slash;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.check1 {
    position: relative;
    stroke: rgb(143, 211, 40);
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    fill: none;
    stroke-width: 3px;
    animation-name: slash;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes slash {
    from {stroke-dashoffset: 100%;}
    to {stroke-dashoffset: 0%;}
}

.invalid {
    color: #e34850;
    margin: 0px;
    font-size: 14px;
}

.invalid-border {
    margin-bottom: 5px;
    animation-name:  border-transition-incorrect;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

.valid-border {
    margin-bottom: 5px;
    animation-name: border-transition-correct;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

.border-shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) none;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes border-transition-incorrect {
    from {border-bottom-color: rgb(153, 153, 153);}
    to {border-bottom-color: #e34850;}
}

@keyframes border-transition-correct {
    from {border-bottom-color: rgb(153, 153, 153);}
    to {border-bottom-color: rgb(143, 211, 40);}
}

/* https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */
@keyframes shake {
    10%, 90% {
      transform: translate3d(-2px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(3px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-5px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(5px, 0, 0);
    }
  }

.tos-label {
    font-size: small;
    margin-bottom: 12px;
}