body {
    background: #292929;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: black;
}

.login-panel {
    width: 580px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    margin: auto;
}

.background {
    background-image: url(https://www.hdwallpapers.in/download/beautiful_lake_landscape_scenery_4k_8k-1920x1080.jpg);
    background-size: cover;
    height: 100%;
}

.login-layout {
    padding: 40px 56px;
}

/* Mostly yoinked from adobe login*/
@media screen and (max-width: 630px) {
    .login-panel {
        height: 100%;
        width: 100%;
    }

    .login-layout {
        height: 100%;
        padding: 40px;
    }
}

.login-layout .link,
.link:visited,
.link:hover,
.link:active {
    color: rgba(0, 81, 255, 255);
    margin-top: 12px;
    text-decoration: none;
    white-space: nowrap;
}

.login-head {
    display: block;
}

.field-label {
    display: block;
}

/* from github login */
/* High contrast colours */
.text-field {
    background-color: rgba(0, 0, 0, 0);
    border-color: #eaeaea;
    width: 90%;
    height: 18px;
    border: none;
    border-bottom: 2px rgb(153, 153, 153) solid;
    font-size: 16px;
    margin-bottom: 12px;
    outline: none;
}

.text-field:focus {
    border-bottom: 2px rgb(0, 81, 255) solid;
}

.submit-button {
    display: block;
    height: auto;
    width: 100%;
    background-color: #fff;
    border-width: 1px;
    border-radius: 4px;
    padding: 6px;
}

.submit-button:active {
    background-color: rgba(41, 41, 41, 0.1);
}

.back-tooltip {
    display: none;
}

.return-button {
    float: left;
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 8px;
    background-color: #eaeaea;
    border: 1px black solid;
    border-radius: 60px;
    text-align: center;
    text-rendering: auto;
    font-size: 30px;
}

.error-cross {
    width: auto;
    float:right;
    overflow: auto;
}

.incorrect-email {
    color: red;
    margin-bottom: 5px;
}